@charset "UTF-8";
/* CSS Document */
html{font-size:62.5%;}
*{font-family:"Microsoft YaHei"; margin:0;padding:0;border:none;}
body{height:100%;background:#DFDDDD;}
ul,li{margin:0;padding:0;list-style:none;}
a{ text-decoration:none;}
i,em{ font-style:normal;}
input[type=button],input[type=submit],button{-webkit-appearance: none; border-radius:0;}
.main{
	margin:0 auto; 
	background:#f5f5f5; 
	padding-bottom:0; 
	position:relative;
	width:100%;
}
.clear{
	clear:both;
	height:0;
	line-height:0;
}
.list ul{
	width:100%;
	overflow:hidden;
}
.list li{
	position:relative;
	height:5rem;
	padding:1rem 1.2rem 0 3.6rem;
	border-bottom:1px solid #d4d4d4;
	overflow:hidden;
}
.list .name,.list .content{
	float:left;
	margin-left:2.8rem;
	font-size:1.5rem;
	line-height:4rem;
}
.list .delete{
	position:absolute;
	right:-6.4rem;
	top:0;
	height:5rem;
	width:6.4rem;
	font-size:1.6rem;
	padding-top:2.2rem;
	line-height:2.2rem;
	text-align:center;
	background:#999;
	color:#fff;
}

